.DS_Store
*.pyc

# Checkpoints and model files
gripper_mj/checkpoints/
gripper_mj/checkpoints_lift/
gripper_mj/checkpoints_release/
gripper_mj/checkpoints_sac_lift/
gripper_mj/checkpoints_sac_release/
gripper_mj/checkpoints_sac_position/
gripper_mj/videos/
gripper_mj/videos_lift/
gripper_mj/videos_release/
gripper_mj/videos_sac/
gripper_mj/test/
**/checkpoints/
# Model checkpoint files
*_model_*.zip
*_model_*.pt
*_model.zip
*_model.pt
*_vec_normalize.pkl
# Log files
reward_log_*.csv
